<style id="compiled-css" type="text/css">
      .logo-size {
    height: 240px;
    width: 240px;
}

.text-center-bold {
    text-align: center;
    font-weight: bold;
}

.text-right-bold {
    text-align: right;
    font-weight: bold;
}


.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.style-as-button {
    background-color: #FF8B6A;
    width: 100px;
    /*height: 100px; */
    padding: 16px;
    border: solid 1px black;
    float: none;
    text-align: center;
    border-radius: 25px;
     margin: auto;
}


.colour-green {
    color: #5DB369;
}

.colour-peach {
    color: #E86056;
}

.header{
    color: #FF8B6A;
    text-align: center;
    font-size: 40px;
    
}

.background-colour{
    background-color: #CFD7FF;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  </style>
